body {
    background-image: url(background.jpg);
    background-size: cover;
    color: white;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

form {
    background-color: rgba(227, 129, 94, 0.95);
    font-family: 'Arial Narrow Bold', sans-serif;
    border-radius: 9px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
}

fieldset {
    border: 0;
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1, h2 {
    text-align: center;
    margin: 10px;
}

#submit {
    display: block;
    margin: auto;
    border: none;
}

input {
    border: none;
    margin: 3px;
}

textarea {
    border: none;
    padding: 3% 60% 10% 7%;
}
  
