body {
    background-image: url(bg1.webp);
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

form {
    background-color: rgba(255, 108, 133, 0.8);
    font-family: 'Arial Narrow Bold', sans-serif;
    border-radius: 9px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
}

fieldset {
    border: none;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
}

h1, h2 {
    text-align: center;
    margin: 20px;
}

#submit {
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

input {
    border: none;
    margin: 3px;
}

textarea {
    border: none;
    width: 100%;
    padding: 3px 3px 20px 3px;
}
  
